# Tutorial de Pandas: Como crear y filtrar un DataFrame

In [5]:
import pandas as pd

In [ ]:
# Manipular datos en pandas
datosDePaises = {"Mexico":[0, 0, 4], "China":[39, 30, 30]}
df_medallero2021 = pd.DataFrame.from_dict(datosDePaises)

# Agregar diccionario, llaves como filas
df_medalleroPaises = pd.DataFrame.from_dict(datosDePaises, orient="index", columns=["oro", "plata", "bronce"])
df_medalleroPaises

### DataFrame
Un **DataFrame** es la estructura con la que Pandas manipula datos. Es un equivalente logico a una tabla de Excel, o una tabla de SQL, con filas y columnas.

## Lectura de datos de COVID desde un archivo csv

In [9]:
df_datosCovid = pd.read_csv("datos/mexico_covid19.csv")
df_datosCovid.head()

,id,FECHA_ARCHIVO,ID_REGISTRO,ENTIDAD_UM,ENTIDAD_RES,RESULTADO,DELAY,ENTIDAD_REGISTRO,ENTIDAD,ABR_ENT,...,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,9269,2020-04-12,00011f,25,25,2,0,25,Sinaloa,SL,...,2,2,1,2,2,2,99,MÃ©xico,97,97
1,33333,2020-04-12,00014e,14,14,2,0,14,Jalisco,JC,...,2,2,1,2,1,99,99,MÃ©xico,97,2
2,35483,2020-04-12,000153,8,8,1,0,8,Chihuahua,CH,...,2,2,2,2,2,99,99,MÃ©xico,97,2
3,7062,2020-04-12,0001b6,9,15,1,0,9,Ciudad de Mexico,DF,...,2,2,1,2,2,99,99,MÃ©xico,97,97
4,23745,2020-04-12,0001c1,9,9,2,0,9,Ciudad de Mexico,DF,...,2,2,2,2,2,99,99,MÃ©xico,97,97

## Exploracion de los datos con `describe()`

In [10]:
df_datosCovid.describe()

,id,ENTIDAD_UM,ENTIDAD_RES,RESULTADO,DELAY,ENTIDAD_REGISTRO,ORIGEN,SECTOR,SEXO,ENTIDAD_NAC,...,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,MIGRANTE,UCI
count,2.630070e+05,263007.000000,263007.000000,263007.000000,263007.0,263007.000000,263007.000000,263007.000000,263007.000000,263007.000000,...,263007.000000,263007.000000,263007.000000,263007.000000,263007.000000,263007.000000,263007.000000,263007.000000,263007.000000,263007.000000
mean,2.946176e+06,14.844601,15.127719,1.609672,0.0,15.092271,1.635789,9.601680,1.510682,19.691004,...,2.359667,2.174185,2.453961,2.324980,2.184763,2.320231,2.268217,32.283764,98.593680,74.541012
std,2.212368e+06,8.001043,7.904314,0.487825,0.0,7.915406,0.481209,7.265468,0.499887,19.378113,...,6.021830,5.745114,6.850231,5.796086,5.817362,5.722995,5.867586,45.350310,6.275497,40.384991
min,1.000000e+00,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,8.689635e+05,9.000000,9.000000,1.000000,0.0,9.000000,1.000000,4.000000,1.000000,9.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,99.000000,97.000000
50%,2.733242e+06,14.000000,15.000000,2.000000,0.0,15.000000,2.000000,12.000000,2.000000,15.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,99.000000,97.000000
75%,4.789668e+06,21.000000,21.000000,2.000000,0.0,21.000000,2.000000,12.000000,2.000000,24.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,99.000000,99.000000,97.000000
max,7.277125e+06,32.000000,32.000000,2.000000,0.0,32.000000,2.000000,99.000000,2.000000,99.000000,...,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,99.000000,99.000000,99.000000

## Exploracion de las columnas con `dtypes`

In [11]:
df_datosCovid.dtypes

id                       int64
FECHA_ARCHIVO           object
ID_REGISTRO             object
ENTIDAD_UM               int64
ENTIDAD_RES              int64
RESULTADO                int64
DELAY                    int64
ENTIDAD_REGISTRO         int64
ENTIDAD                 object
ABR_ENT                 object
FECHA_ACTUALIZACION     object
ORIGEN                   int64
SECTOR                   int64
SEXO                     int64
ENTIDAD_NAC              int64
MUNICIPIO_RES          float64
TIPO_PACIENTE            int64
FECHA_INGRESO           object
FECHA_SINTOMAS          object
FECHA_DEF               object
INTUBADO                 int64
NEUMONIA                 int64
EDAD                     int64
NACIONALIDAD             int64
EMBARAZO                 int64
HABLA_LENGUA_INDIG       int64
DIABETES                 int64
EPOC                     int64
ASMA                     int64
INMUSUPR                 int64
HIPERTENSION             int64
OTRA_COM                 int64
CARDIOVASCULAR           int64
OBESIDAD                 int64
RENAL_CRONICA            int64
TABAQUISMO               int64
OTRO_CASO                int64
MIGRANTE                 int64
PAIS_NACIONALIDAD       object
PAIS_ORIGEN             object
UCI                      int64
dtype: object

## Seleccionar un grupo de columnas del DataFrame original e imprimir estadistica descriptiva

In [16]:
df_Filtrado = df_datosCovid[["ORIGEN", "FECHA_ACTUALIZACION", "PAIS_ORIGEN", "SEXO", "EMBARAZO", "EDAD", "DIABETES", "EPOC", "ASMA"]]
df_Filtrado.describe()

,ORIGEN,SEXO,EMBARAZO,EDAD,DIABETES,EPOC,ASMA
count,263007.000000,263007.000000,263007.000000,263007.000000,263007.000000,263007.000000,263007.000000
mean,1.635789,1.510682,50.708825,42.591627,2.239712,2.320102,2.300711
std,0.481209,0.499887,47.494775,16.903824,5.958047,5.704424,5.682309
min,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,2.000000,31.000000,2.000000,2.000000,2.000000
50%,2.000000,2.000000,97.000000,41.000000,2.000000,2.000000,2.000000
75%,2.000000,2.000000,97.000000,53.000000,2.000000,2.000000,2.000000
max,2.000000,2.000000,98.000000,120.000000,98.000000,98.000000,98.000000

## Seleccionar un grupo de filas basado en una condicion logica

In [19]:
df_Filtrado[df_Filtrado["SEXO"] == 2].describe()

,ORIGEN,SEXO,EMBARAZO,EDAD,DIABETES,EPOC,ASMA
count,134313.000000,134313.0,134313.000000,134313.000000,134313.000000,134313.000000,134313.000000
mean,1.631733,2.0,96.997856,43.181941,2.317966,2.406476,2.389985
std,0.482336,0.0,0.453701,17.167116,6.598246,6.388973,6.320387
min,1.000000,2.0,1.000000,0.000000,1.000000,1.000000,1.000000
25%,1.000000,2.0,97.000000,31.000000,2.000000,2.000000,2.000000
50%,2.000000,2.0,97.000000,42.000000,2.000000,2.000000,2.000000
75%,2.000000,2.0,97.000000,54.000000,2.000000,2.000000,2.000000
max,2.000000,2.0,97.000000,120.000000,98.000000,98.000000,98.000000

## Seleccionar un grupo de filas basado en multiples condiciones logicas

In [21]:
# Todos los hombres con edad entre 40 y 60
# (Condicion1) & (Condicion2) => Condicion1 and Condicion2
# (Condicion1) | (Condicion2) => Condicion1 or Condicion2
df_Filtrado[(df_Filtrado["SEXO"] == 2) & (df_Filtrado["EDAD"] >= 40) & (df_Filtrado["EDAD"] <= 60)]

,ORIGEN,FECHA_ACTUALIZACION,PAIS_ORIGEN,SEXO,EMBARAZO,EDAD,DIABETES,EPOC,ASMA
2,1,2020-04-19,97,2,97,50,2,2,2
14,2,2020-04-19,97,2,97,45,2,2,2
23,1,2020-04-19,97,2,97,47,2,2,1
38,2,2020-04-19,97,2,97,41,2,2,2
40,1,2020-04-19,97,2,97,55,2,2,2
...,...,...,...,...,...,...,...,...,...
262979,2,2020-06-03,99,2,97,41,2,2,2
262980,1,2020-06-03,99,2,97,47,2,2,2
262985,1,2020-06-03,99,2,97,48,2,2,2
262989,2,2020-06-03,99,2,97,52,2,2,2
262997,1,2020-06-03,99,2,97,44,2,2,2